.title {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translate(-50%,50%);
    margin: 0;
    padding: 0;
    color: rgb(190, 95, 95);
    font-family: sans-serif;
    letter-spacing: 2px;
    font-size: 6em;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
}

.joga {
    margin-top: 18px;
    margin-left: 40px;
    padding: 10px;
}

/* .intro {
    background-color: black;
} */
.card2 {
    background-color: white;
}