.title {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translate(-50%,50%);
    margin: 0;
    padding: 0;
    color: rgb(190, 95, 95);
    font-family: sans-serif;
    letter-spacing: 2px;
    font-size: 6em;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
}

.joga {
    margin-top: 18px;
    margin-left: 40px;
    padding: 10px;
}

/* .intro {
    background-color: black;
} */
/* .card2 {
    background-color: white;
} */

.app-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 1rem;
    border-collapse: collapse;
  }
  
  .playerTable {
    border-collapse: collapse; 
    border-spacing: 15px; 
    width: 100%;
    background-color: white;
    padding: 8px;
  }

  
  th,
  td {
    padding: 10px;
    font-size: 20px;
    }
  
  th {
    background-color: rgb(117, 201, 250);
    
  }
  
  td {
    background-color: rgb(205, 235, 253);
  }
  
  .TeamForm {
transform: translate(10px, 70px);
  }

  .currentTeam{
    text-align: center;
  }

  .TeamList{
    transform: translate(10px, 50px);
  }

  .PlayerInTeam{
    transform: translate(10px, 30px);
  }
  
  .display-6{
    transform: translate(22px);
  }

  /* .row {
    padding: 2px; 
    border-color: wheat;
    border-style: solid;
  } */